@media screen and (max-width: 991px) {
    .sell-form-container h2 {
        font-size: 2.3rem;
    }
    .sell-form-container form{
        width: 70%;
    }
}

@media screen and (max-width: 787px) {
    .sell-form-container h2 {
        font-size: 2.2rem;
    }
    .sell-form-container form{
        width: 80%;
    }
}

@media screen and (max-width: 576px) {
    .sell-form-container h2 {
        font-size: 2rem;
    }
    .sell-form-container form{
        width: 95%;
    }
    .sell-form-container input {
        font-size: 0.9rem;
    }
    .sell-form-container button {
        font-size: 0.9rem;
    }
}