@media screen and (max-width:991px) {
    .refinary-banner h1 {
        padding-top: 10%;
    }
}

@media screen and (max-width:787px) {
    .refinary-content {
        width: 80%;
    }
}

@media screen and (max-width:576px) {
    .refinary-content{
        width: 90%;
    }
    .refinary-banner h1{
        font-size: 1.5rem;
        padding-left: 10%;
    }
    .refinary-content-1-right h2, .refinary-content-2-left h2 {
        font-size: 1.2rem;
    }
    .refinary-content-1-right p, .refinary-content-2-left p {
        font-size: 0.9rem;
    }
}